## Sorting Planets based on Three Populations: rocky, water-rich, and gas-rich with Planet density

In [1]:
from astroquery.ipac.nexsci.nasa_exoplanet_archive import NasaExoplanetArchive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import habitex

In [13]:
NasaExoplanetArchive.query_criteria(table="pscomppars", select="pl_name,pl_dens")

<QTable masked=True length=5967>
   pl_name    pl_dens
              g / cm3
    str29     float64
------------- -------
 Kepler-334 d    5.04
 Kepler-279 c     0.3
 Kepler-251 d    2.09
 Kepler-729 b     1.5
 Kepler-687 b    1.54
 Kepler-119 b    1.48
Kepler-1115 b    3.95
Kepler-1073 b    2.66
   HD 16175 b    4.91
          ...     ...
 Kepler-617 b     5.5
   HD 60532 b   0.704
   HD 60532 c    1.86
   HD 63765 b   0.323
Kepler-1739 b    2.48
   HD 92788 b    2.99
   HD 96063 b   0.863
   HD 96127 b    20.7
 Kepler-130 c    1.97

In [9]:
# Getting data values
ae = habitex.ArchiveExplorer()
data = ae.query_exo()
planet_name = data['pl_name']
planet_dens = data['pl_dens'].to_numpy()
planet_type1 = data['pl_type']
planet_type2 = data[['pl_name', 'pl_type']]

In [10]:
planet_type1

0       Rocky planets
1         Gas planets
2       Rocky planets
3       Rocky planets
4       Rocky planets
            ...
4651    Rocky planets
4652      Gas planets
4653    Rocky planets
4654    Rocky planets
4655    Rocky planets
Name: pl_type, Length: 4656, dtype: object

In [11]:
planet_type2

            pl_name        pl_type
0      Kepler-334 d  Rocky planets
1      Kepler-279 c    Gas planets
2      Kepler-251 d  Rocky planets
3      Kepler-729 b  Rocky planets
4      Kepler-687 b  Rocky planets
...             ...            ...
4651     HD 60532 c  Rocky planets
4652     HD 63765 b    Gas planets
4653  Kepler-1739 b  Rocky planets
4654     HD 96063 b  Rocky planets
4655   Kepler-130 c  Rocky planets

[4656 rows x 2 columns]

In [5]:
df = pd.DataFrame({
    'pl_name': planet_name,
    'pl_dens': planet_dens
})

def classify_planet_by_density(density_ratio):
    if density_ratio < 0.4:
        return "Gas planets"
    elif density_ratio < 0.7:
        return "Water worlds"
    else:
        return "Rocky planets"


df['planet_type'] = df['pl_dens'].apply(classify_planet_by_density)
print(df)

            pl_name  pl_dens    planet_type
0     Rocky planets    5.040  Rocky planets
1       Gas planets    0.300    Gas planets
2     Rocky planets    2.090  Rocky planets
3     Rocky planets    1.500  Rocky planets
4     Rocky planets    1.540  Rocky planets
...             ...      ...            ...
4651  Rocky planets    1.860  Rocky planets
4652    Gas planets    0.323    Gas planets
4653  Rocky planets    2.480  Rocky planets
4654  Rocky planets    0.863  Rocky planets
4655  Rocky planets    1.970  Rocky planets

[4656 rows x 3 columns]